* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    line-height: 1.5rem;
}

h1 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.8rem;
}

.counter-number {
    margin-top: 2rem;
    padding: 10px;
    font-size: 5rem;
}

input {
    background-color: #fff;
    border: 1px solid #000;
    width: 80px;
    font-size: 1.2rem;
    border-radius: 3px;
    outline: none;
    height: 2.7rem;
    margin: 2rem auto;
}

.button-container {
    margin: 2rem auto;
}

button {
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    text-transform: capitalize;
    color: #fff;
    outline: none;
}

#decrease-button {
    background-color: rgb(228, 76, 76);
    color: #fff;
}
#increase-button {
    background-color: rgb(62, 191, 66);
}

#reset-button {
    background-color: rgb(30, 35, 30);
}